<%- include ("../partials/header.ejs"); %>

<div class="container">
    <div class="row justify-content-center">
        <h1 style="margin-top: 50px;">Welcome to the Secret Page!!!</h1>
    </div>
    <div class="row justify-content-center">
        <p>Here's a picture of my faviorite breed of dogs</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4"> 
        <div class="card mt-5">
            <img src="https://cf.ltkcdn.net/dogs/images/orig/238054-2121x1414-Cocker-Spaniel.jpg" class="card-img-top" alt="dog">
            <div class="card-body" style="background-color: rgb(241, 234, 234);">
              <h5 class="card-text">Cocker Spaniel</h5>
            </div>
          </div>
          </div>
    </div>
</div>


<%- include ("../partials/footer.ejs"); %>